@import "colors.css";

* {
  min-height: 0;
  font-family:
    JetBrains Mono NL,
    JetBrainsMonoNerd Font;
  font-size: 15px;
  font-weight: 900;
}


window#waybar {
  transition-property: background-color;
  /* transition-duration: 0.5s; */
  background-color: @bg;
}

window#waybar.hidden {
  opacity: 0.5;
}

.modules-right {
  /* background: @fg; */
  /* border-radius: 15px 0px 0px 0px; */
}

.modules-left {
background: @bg;
}


#workspaces {
  /* background: @fg; */
  /* margin: 2px 1px 3px 1px; */
  /* padding: 0px 0px; */
  /* margin: 5px 5px; */
  /* border-radius: 15px; */
  border: 0px;
  font-style: normal;
  opacity: 1;
  /* font-size: 16px; */
  color: @bg;
}

#workspaces button {
  /* padding: 1px 10px; */
  /* margin: 3px 3px; */
  min-width: 20px;
  /* border-radius: px; */
  /* animation: gradient_f 20s ease-in infinite; */
  /* border: 0px; */
  border-radius: 0px;
  color: @fg;
  background-color: @bg;
  /* background: @bg; */
}



#workspaces button:hover {
  color: @bg;
  background: @fg;
  transition: all 0.0s ease-in-out;
}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button.active {
  color: @bg;
  background: @fg;
  opacity: 1;
}

#mpris {
  color: @fg;
  /* border-radius: 15px; */
  opacity: 1;
  /* transition: all 0.2s ease-in-out; */
}

#mpris:hover {
  color: @bg;
  background: @fg;
  /* border-radius: 25px; */
  padding: 0px 15px;
  opacity: 1;
}

#tray {
  padding: 0px 10px;
  padding-right: 15px;
  background: @bg;
  border-radius: 0px;
}

#bluetooth, #pulseaudio, #clock, #battery, #network, #language{
  color: @fg;
  padding: 0px 15px;
  background: @bg;
  /* border-radius: 15px 15px 0px 0px; */
  opacity: 1;
  /* transition: all 0.2s ease-in-out; */
}

#bluetooth:hover, #pulseaudio:hover, #clock:hover, #battery:hover, #network:hover, #mpris:hover, #language:hover {
  color: @bg;
  background: @fg;
  /* border-radius: 15px 15px 0px 0px; */
  opacity: 1;
}

#clock,
#pulseaudio,
/* #battery.charging { */
/*   color: @green; */
/* }, */
#cpu,
#memory,
#window {
  /* padding: 0px 10px; */
  /* margin: 3px 3px; */
  color: @fg;
  /* border-radius: 15px; */
  background-color: @bg;
}
#custom-logo {
  padding: 0px 10px;
  color: @fg;
  font-size: 30;
}

#tray {
  font-size: 10px;
}

#tray {
  font-size: 10px;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

#custom-spotify.playing {
  color: #a6e3a1;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: @fg;
}

#memory {
  color: @fg;
}

#clock.date {
  color: @fg;
}

#window {
  color: #a6e3a1;
}

#pulseaudio.muted {
  color: #ff5b45;
}

tooltip {
  /* border-radius: 25px; */
  background: @bg;
  color: @fg;
}

#custom-logo {
  color: @fg;
  font-size: 29px;
}

#submap {
  color: @bg;
  background-color: @yellow;
  padding-left: 10px;
  min-width: 20px;
  /* text-align: justify; */
}
